.body {
  padding: 0px;
  text-align: center;
  max-height: 800px;
  overflow-y: hidden;
  overscroll-behavior-y: contain;
  box-sizing: border-box;
}

table,
td,
th {
  border-collapse: collapse;
}

th,
td {
  padding: 10px;
  border: solid 1px #333;
  border-inline: none;
  border-bottom: none;
}

td {
  font-family: sans-serif;
  font-size: large;
}

table {
  width: 80%;
  background: #333;
  margin: 20px auto;
  border-radius: 10px;
}

thead,
tbody,
tr,
td,
th {
  display: block;
}

tr:after {
  content: " ";
  display: block;
  clear: both;
}

thead th {
  height: 30px;
}

tbody {
  height: 700px;
  overflow-y: auto;
  background: #666;
  scrollbar-width: 0;
}
th {
  color: bisque !important;
}

tr {
  margin-top: 20px;
  color: white;
  padding: 0px;
}

tbody td,
thead th {
  width: 32%;
  float: left;
}

::-webkit-scrollbar {
  display: none;
}

.serviceName {
  height: 71px;
  &:hover {
    cursor: pointer;
    background: linear-gradient(to left, #666, #333);
  }
}
